{% extends "base.html" %}
{% block title %}Deckbook - {{user.username}}{% endblock %} 

{% block head %}
{{ super() }}
<!--    <style type="text/css">
    .card{
        min-width: 200px;
    }
    </style>-->
{% endblock %}
{% block content %}


    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/profile/{{user.username}}"> {{user.username}} </a></li>
      <li class="breadcrumb-item active">Deckbook</li>
    </ol>




<div class="spacer"></div>

<div class="card m-3" >
      <div class="card-block ">
                  <h4 class="card-title">Deckbook</h4>
                  
      </div>
      <div class="card-block">
        <div class="row">

    <div class="class=col-xs-12 col-sm-6 col-md-4 col-lg-3">
        {% if current_user.username == user.username %}
        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#deckFormModal">
          Make New Deck
        </button>
        {% endif %}
    </div>

</div>
      </div>

<hr class="between"/>
  <div class="card-block ">
<div class="card-deck">
  {% for deck in decks %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <a href="/flashdeck_profile/{{deck.id}}" style='text-decoration:none'>
        <div class="card btn-secondary m-3" type="button">
        
        <!-- <img class="card-img-top" src="{{deck.profile_photo}}" alt="Card image cap"> -->
        <div class="card-block ">
          <h4 class="card-title">{{deck.name}}</h4>
          <p class="card-text">{{deck.self_description}}</p>
<!--           <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
 -->          
        </div>

      </div>
      </a>
  </div>
    {% endfor %}
  
</div>    
</div>
</div>
        
    
    {% if current_user.username == user.username %}

    <!-- Modal -->
        <div class="modal fade" id="deckFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Build A Deck</h4>

              </div>
              <div class="modal-body">
                
                {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div> 
                {% endfor %}
                <form id="flashdeckForm" style="display:none" method="POST" action='/profile/{{user.username}}/deckbook'>
                    {{form}}
                </form>
              </div>
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>



 

        <script src="{{url_for('static', filename='flashdeck.js')}}"></script>
    {% endif %}


{% endblock %}