<h1> Flashdeck: {{flashdeck.name}} </h1>
<h2>Users who use this deck</h2>
<ul>
{% for current in deckusers %}
    <li><a href = "/profile/{{current}}"> Profile: {{current}} </a></li>
{% endfor %}
</ul>

<h1> Add A FlashCube </h1>
<form id="flashCubeForm" method="POST" action='/flashdeck_profile/{{flashdeck.id}}' enctype="multipart/form-data">
    {% for fieldDict in fields %}
        <div>{{ fieldDict['sideName'] }}: {{ fieldDict['sideField']() }}</div>
    {% endfor %}

    <div>{{ form.submit}}</div>
</form>

<ul>
{% for cube in flashdeck.flashcubes%}
    <li>
        <ol>
            {% for side in cube.getSides() %}
                <li> {{cube.getSides()[side]['Value']}} </li>
            {% endfor %}
        </ol>
    </li>
{% endfor %}
</ul>

<h2> <a href = "/profile/{{username}}/deckbook">Back To This Users Deckbox</a> </h2>


<h2> <a href="/profile/{{current_user.username}}">Back To Your Profile</a> </h2>