{% extends "base.html" %}
{% block title %}Mem Flash - {{user.username}}{% endblock %} 

{% block head %}
{{ super() }}
    <style type="text/css">
        
    
        .avatar-profile{
            height: 100px;
            width: 100px;
            margin:auto;
            padding: 5px 5px;
        }
        .avatar-row{
            height: 10px;

        }


        .bottom-align {
            position: absolute;
            bottom: 0;

            left: 0;
        }
         // in case your dealing with a block element apply this to the element itself 
        .center-block {
           margin-left:auto;
           margin-right:auto;
           display:block;
        }
        // in case your dealing with a inline element apply this to the parent 
        .text-center {
           text-align:center
        }

    </style>
{% endblock %}
{% block content %}

<div class="card card-inverse" style="background-color: #333; border-color: #333;">
  
  <div class="card-block">
    <div class="row">
        <div class="col-xs-12 col-sm-1 ">
            <div class="avatar-profile">
                <div class="circle-avatar">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-1 col-md-1 text-center align-bottom">          
            <h1  >{{user.username}} </h1>
        </div>
    </div>

  </div>
</div>

<div class="spacer"></div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/profile/{{user.username}}/deckbook" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">My Deck Book</a>     
    </div>
    {% if current_user.username == user.username %}
     <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/profile/{{current_user.username}}/favorite_decks" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Favorite Decks</a>     
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#updateProfileFormModal">
              Update Profile Info
            </button>
    </div>
   
    {% endif %}
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-xs-12 col-sm-5 col-md-3 text-center">
        <h2> A Little About Me </h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
       <p> {{user.self_description}}</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12">
       <p> Registerd on: {{user.registered_on}}</p>
    </div>
</div>



    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div> 
    {% endfor %}


{% endblock %}

